services:
  db:
    image: postgres:17
    container_name: my_postgress
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: youcode_sprint
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: aminelebrini4@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 123456
      POSTGRES_DB: youcode_sprint
    ports:
      - "5050:80"
    depends_on:
      - db

  web:
    image: youcode-sprint-image
    container_name: youcode-sprint
    ports:
      - "8085:80"
    volumes:
      - ./src:/var/www/html
      
    depends_on:
      - db
    dns:
    - 8.8.8.8
    - 1.1.1.1
volumes:
  db_data:
