RewriteEngine On

# Si le fichier ou dossier existe, laisser Apache le servir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, rediriger tout vers index.php
RewriteRule ^ index.php [QSA,L]